.cg-wrap piece.pawn.white {
  background-image: url('./svg/wP.svg');
}
.cg-wrap piece.knight.white {
  background-image: url('./svg/wN.svg');
}
.cg-wrap piece.bishop.white {
  background-image: url('./svg/wB.svg');
}
.cg-wrap piece.rook.white {
  background-image: url('./svg/wR.svg');
}
.cg-wrap piece.queen.white {
  background-image: url('./svg/wQ.svg');
}
.cg-wrap piece.king.white {
  background-image: url('./svg/wK.svg');
}
.cg-wrap piece.pawn.black {
  background-image: url('./svg/bP.svg');
}
.cg-wrap piece.knight.black {
  background-image: url('./svg/bN.svg');
}
.cg-wrap piece.bishop.black {
  background-image: url('./svg/bB.svg');
}
.cg-wrap piece.rook.black {
  background-image: url('./svg/bR.svg');
}
.cg-wrap piece.queen.black {
  background-image: url('./svg/bQ.svg');
}
.cg-wrap piece.king.black {
  background-image: url('./svg/bK.svg');
}
