/** Colored board squares as an embedded SVG */
cg-board {
  background-color: #e2ae83; /* Fallback colour */
  background-image: url('./chessboard.svg');
}

/** Interactive board square colors */
cg-board square.last-move {
  background-color: rgba(246, 235, 114, 0.6);
}
cg-board square.selected {
  background-color: rgba(90, 167, 204, 0.6);
}

/** Alternating colors in rank/file/square labels */
.cg-wrap coords:nth-child(odd) coord:nth-child(even),
.cg-wrap coords.squares:nth-child(even) coord:nth-child(odd),
.cg-wrap.orientation-black coords.files:nth-child(even) coord:nth-child(odd),
.cg-wrap coords.files:nth-child(even) coord:nth-child(even) {
  color: #b88762;
}

.cg-wrap coords:nth-child(odd) coord:nth-child(odd),
.cg-wrap coords.squares:nth-child(even) coord:nth-child(even),
.cg-wrap.orientation-black coords.files:nth-child(even) coord:nth-child(even),
.cg-wrap coords.files:nth-child(even) coord:nth-child(odd) {
  color: #edd6b0;
}

/* Styling */
.cg-wrap coords.files,
coords.ranks {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 0.8rem;
}

/* Fix offsets so they always fit even on tiny boards */
.cg-wrap coords.ranks {
  left: 0.75%;
  top: -3.75%;
}

.cg-wrap coords.files {
  bottom: 0%;
  left: 4.8%;
}
